body {
    margin: 0;
    font-family:Georgia, 'Times New Roman', Times, serif;
}

.hero {
    background-color: #6943FF;
    color: white;
    text-align: center;
    height: 30vh;
}

h1 {
    margin-top: 0;
    padding-top: 30px;
}

input {
    background-color: #6943FF;
    color: white;
    font-weight: bold;
    font-size: 40px;
    height: 100px;
    width: 130px;
    border-radius: 5px;
    border: 2px solid #B295FF;
    text-align: center;

}

button {
    margin-top: 20px;
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 5px;
    width: 80px;
    height: 40px;
    font-size: 18px;
    cursor: pointer;
}

.resultsBox {
    background-color: #1F2937;
    height: 60vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.results {
    background-color: #273549;
    width: 450px;
    height: 130px;
    border-radius: 5px;
}

h2 {
    margin-top:0;
    padding-top: 20px;
    color: #B295FF;
    font-weight: bold;
}

p {
    color: white;
}

footer {
    background-color: #1F2937;
    text-align: center;
    height:10vh;
}

#toggle-theme {
    width: 130px
}